html{
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://lh3.googleusercontent.com/67EliQDqay8NmvkUvEpLaCsLNWmRVXCcmZ84QKggmEq_xreluvj2UNWlDRH6XvwhH3GNPzLYmEdXm8Fn5pmZqFoOTQuJvcFUySa38g=w600);
  background-repeat: no-repeat;
  background-size: cover;   
  background-position:center;
  height: 100%;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    height: 100%vh;
}



